.unauth-header-container {
  position: relative;
}

.title-background1 {
  position: absolute;
  top: 10px;
  left: -50px;
  width: 1200px;
  height: 140px;
  transform: rotate(-15deg);
  background-color: var(--primary2);
  z-index: -10;
  border-bottom: 3px solid var(--lightBase1);
}

.title-background2 {
  position: absolute;
  top: -10px;
  left: -50px;
  width: 800px;
  height: 140px;
  transform: rotate(-25deg);
  background-color: var(--primary2);
  z-index: -10;
}

.title-background3 {
  position: absolute;
  top: -20px;
  right: -100px;
  width: 700px;
  height: 150px;
  transform: rotate(10deg);
  background-color: var(--primary2);
  z-index: -10;
}

.title-background4 {
  position: absolute;
  top: 20px;
  right: -80px;
  width: 1000px;
  height: 150px;
  transform: rotate(20deg);
  background-color: var(--primary2);
  z-index: -10;
  border-bottom: 3px solid var(--lightBase1);
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: max-content;
}

.signin-buttons-container {
  position: absolute;
  top: 70px;
  right: 25px;
}

.anchor-point {
  position: absolute;
  top: 15px;
  right: -40px;
  background-color: var(--primary1);
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.signin-button {
  letter-spacing: 3px;
  cursor: pointer;
}