/* You can add global styles to this file, and also import other style files */
:root {
  --primary1: #dd2b25;
  --primary2: #f93200;
  --secondary1: #DB504A;
  --secondary2: #FF6F59;
  --complementary1: #12df7f;
  --complementary2: #0b91df;
  --darkBase1: #43454b;
  --darkBase2: #25272b;
  --darkBase3: #000000;
  --lightBase1: #d6d6d6;
  --lightBase2: #FFFBFF;
}

body {
  margin: 0;
  background-color: var(--darkBase2);
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: var(--lightBase2);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--darkBase1);
  border-radius: 10px;
  border: 2px solid var(--lightBase2);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--darkBase3);
}