/* You can add global styles to this file, and also import other style files */
:root {
  /* palette
  --primary1: #c72b26;
  --primary2: #DB504A;
  --primary3: #db726f;
  --secondary1: #f93200;
  --secondary2: #FF6F59;
  --complementary1: #65b672;
  --complementary2: #3788b8;
  --darkBase1: #43454b;
  --darkBase2: #25272b;
  --darkBase3: #000000;
  --lightBase1: #d6d6d6;
  --lightBase2: #FFFBFF;
  */
  --primary1: 199, 43, 38;
  --primary2: 219, 80, 74;
  --primary3: 219, 114, 111;
  --secondary1: 249, 50, 0;
  --secondary2: 255, 111, 89;
  --complementary1: 101, 182, 114;
  --complementary2: 55, 136, 184;
  --darkBase1: 67, 69, 75;
  --darkBase2: 37, 39, 43;
  --darkBase3: 0, 0, 0;
  --lightBase1: 214, 214, 214;
  --lightBase2: 255, 251, 255;
}

body {
  margin: 0;
  background-color: rgb(var(--darkBase2));
  overflow-x: hidden;
  font-family: 'Gowun Dodum', sans-serif;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: rgb(var(--lightBase2));
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--darkBase1));
  border-radius: 10px;
  border: 2px solid rgb(var(--lightBase2));
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--darkBase3));
}