@keyframes adjust {
  25% { transform: rotate(-3deg) }
  50% { transform: rotate(8deg) }
  75% { transform: rotate(5deg) }
  100% { transform: rotate(5deg) skew(-2deg, -4deg) }
}

.chat-list-container {
  position: relative;
}

.chat-list-title {
  position: absolute;
  top: -20px;
  left: 350px;
}

.outer-chat-list {
  margin: 6% auto 6% 500px;
  padding: 35px 25px 40px 40px;
  width: max-content;
  height: max-content;
  background-color: var(--lightBase2);
  transform: skew(-3deg, -6deg);
}

.inner-chat-list {
  min-height: 200px;
  color: var(--lightBase2);
  background-color: var(--darkBase1);
  transform: skew(1deg, 2deg);
}

.chat-list-room {
  width: 30ch;
  cursor: pointer;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.chat-list-room h3 {
  margin: 0;
  padding: 10px;
}

.chat-list-room:hover {
  color: var(--secondary2);
}

.chat-list-room::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 70%;
  background-color: var(--darkBase2);
  z-index: -1;
  transform: scale(0, 0);
  transition: transform 0.25s;
}

.chat-list-room:hover::before {
  animation: adjust 0.25s;
  transform: scale(1, 1) rotateZ(5deg) skew(-2deg, -4deg);
}