<div class="chat-list-container">
  <app-masquer-text
    text="ChatS"
    [flipIndices]="[0, 1, 2]"
    [leftFontSize]="108"
    [fontSizeStep]="-12"
    rotateAngle="10deg"
    class="chat-list-title"
  ></app-masquer-text>
  <div class="outer-chat-list">
    <fa-icon
      [icon]="prevPageIcon"
      class="prev-page-icon fa-7x"
      *ngIf="page > 0"
      (click)="handlePrevPage()"
    ></fa-icon>
    <fa-icon
      [icon]="nextPageIcon"
      class="next-page-icon fa-7x"
      *ngIf="chatRooms.length === 10"
      (click)="handleNextPage()"
    ></fa-icon>
    <div class="inner-chat-list">
      <div
        class="chat-list-room"
        *ngFor="let room of chatRooms"
        (click)="handleRoomClick(room.id)"
      >
        <h3>
          {{ room.name }}
        </h3>
      </div>
    </div>
  </div>
</div>
