@keyframes adjust {
  25% { transform: rotate(-3deg) }
  50% { transform: rotate(8deg) }
  75% { transform: rotate(5deg) }
  100% { transform: rotate(5deg) skew(-2deg, -4deg) }
}

.chat-list-container {
  position: relative;
  margin: 10vh auto;
}

.chat-list-title {
  position: absolute;
  top: 0;
  left: -150px;
  z-index: 1;
}

.prev-page-icon {
  z-index: 1;
  color: var(--darkBase3);
  stroke: var(--lightBase2);
  stroke-width: 20;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 80px);
  left: -20px;
}

.prev-page-icon:hover {
  stroke: var(--primary3);
  stroke-width: 30;
  transform: rotate(9deg);
}

.next-page-icon {
  z-index: 1;
  color: var(--darkBase3);
  stroke: var(--lightBase2);
  stroke-width: 20;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 80px);
  right: -20px;
}

.next-page-icon:hover {
  stroke: var(--primary3);
  stroke-width: 30;
  transform: rotate(8deg);
}

.outer-chat-list {
  padding: 35px 25px 40px 40px;
  width: max-content;
  height: max-content;
  background-color: var(--lightBase2);
  transform: skew(-3deg, -6deg);
  position: relative;
}

.inner-chat-list {
  font-size: 2rem;
  width: 80vw;
  max-width: 30ch;
  min-width: 20ch;
  min-height: 200px;
  color: var(--lightBase2);
  background-color: var(--darkBase1);
  transform: skew(1deg, 2deg);
}

.chat-list-room {
  width: 100%;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  text-align: center;
}

.chat-list-room h3 {
  margin: 0;
  padding: 10px;
}

.chat-list-room:hover {
  color: var(--secondary2);
}

.chat-list-room::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 70%;
  background-color: var(--darkBase2);
  z-index: -1;
  transform: scale(0, 0);
  transition: transform 0.25s;
}

.chat-list-room:hover::before {
  animation: adjust 0.25s;
  transform: scale(1, 1) rotateZ(5deg) skew(-2deg, -4deg);
}

@media screen and (max-width: 850px) {
  .chat-list-title {
    top: -50px;
    left: auto;
    right: 0;
  }
}