<div class="chat-list-container">
  <app-masquer-text
    text="ChatS"
    [flipIndices]="[0, 1, 2]"
    [leftFontSize]="108"
    [fontSizeStep]="-12"
    transform="rotate(10deg)"
    class="chat-list-title"
  ></app-masquer-text>
  <div class="outer-chat-list">
    <fa-icon
      [icon]="addRoomIcon"
      class="icon-button add-room-icon fa-4x"
      (click)="openNewRoomInput()"
    ></fa-icon>
    <fa-icon
      [icon]="prevPageIcon"
      class="icon-button prev-page-icon fa-7x"
      *ngIf="page > 0"
      (click)="handlePrevPage()"
    ></fa-icon>
    <fa-icon
      [icon]="nextPageIcon"
      class="icon-button next-page-icon fa-7x"
      *ngIf="!isLastPage"
      (click)="handleNextPage()"
    ></fa-icon>

    <div class="inner-chat-list">
      <div
        class="chat-list-room"
        *ngFor="let room of chatRooms"
        (click)="handleRoomClick(room.id)"
      >
        <h3>
          {{ room.name }}
        </h3>
      </div>

      <div class="empty-content" *ngIf="!isLoading && chatRooms.length === 0">
        <div class="empty-text">Start a New Chat!</div>
        <fa-icon [icon]="pointToAddIcon" class="empty-icon fa-3x"></fa-icon>
      </div>
    </div>

    <div class="new-room-input-container" *ngIf="isInputOpen">
      <input
        type="text"
        placeholder="Name of Chat Room"
        class="new-room-input"
        [(ngModel)]="newRoomName"
      />
      <div class="new-room-buttons-container">
        <app-masquer-text
          text="ConFirm"
          [leftFontSize]="32"
          [hoverInvert]="true"
          class="new-room-button"
          (click)="handleCreateRoom()"
        ></app-masquer-text>
        <app-masquer-text
          text="Cancel"
          [leftFontSize]="32"
          [hoverInvert]="true"
          class="new-room-button"
          (click)="closeNewRoomInput()"
        ></app-masquer-text>
      </div>
    </div>
  </div>
</div>
