.landing-container {
  position: relative;
}

.logo {
  position: absolute;
  top: 40px;
  left: 20px;
  width: max-content;
}

.logo-background1 {
  position: absolute;
  top: 0;
  left: -50px;
  width: 1200px;
  height: 140px;
  transform: rotate(-15deg);
  background-color: var(--darkBase1);
  z-index: -1;
}

.logo-background2 {
  position: absolute;
  top: -30px;
  left: -50px;
  width: 800px;
  height: 140px;
  transform: rotate(-25deg);
  background-color: var(--darkBase1);
  z-index: -2;
}