.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  position: relative;
  font-size: 1.5rem;
  width: 15em;
  margin: 2em auto 2em;
  padding: 0 1em;
  background-color: rgb(var(--secondary2));
  border-radius: 5px;
  border-top: 6px solid rgb(var(--lightBase1));
  border-right: 2px solid rgb(var(--lightBase1));
  border-bottom: 2px solid rgb(var(--lightBase1));
  border-left: 6px solid rgb(var(--lightBase1));  
  color: rgb(var(--darkBase2));
  font-weight: 900;
  transform: skew(-1.5deg, -3deg);
}

.login-title {
  position: absolute;
  top: -30px;
  right: -10px;
  cursor: default;
}

.login-form-field {
  margin: 1em auto;
}

.login-form-field label {
  position: relative;
  top: 5px;
  left: -10px;
  background-color: rgb(var(--secondary1));
  padding: 0 0.25em;
  border-radius: 10px;
  color: rgb(var(--lightBase2));
}

.login-form-field input {
  display: block;
  width: 100%;
  height: 2em;
  font-size: 1.2rem;
}

.login-button {
  display: block;
  font-size: 1.2rem;
  margin: 1em auto;
  padding: 0.4em 0.8em;
  cursor: pointer;
  border: none;
  border: 2px solid rgb(var(--lightBase2));
  border-radius: 5px;
  color: rgb(var(--lightBase2));
  background-color: rgb(var(--complementary1));
}

.login-button:hover {
  border: 2px solid rgb(var(--complementary1));
  color: rgb(var(--complementary1));
  background-color: rgb(var(--lightBase2));
}
