<div class="login-container">
  <div class="login-form">
    <app-masquer-text
      text="LogIn"
      [flipIndices]="[2]"
      [leftFontSize]="40"
      transform="rotate(-2deg)"
      class="login-title"
    >
    </app-masquer-text>

    <div class="login-form-field">
      <label for="login-username">Username</label>
      <input type="text" id="login-username" [(ngModel)]="username" />
    </div>

    <div class="login-form-field">
      <label for="login-password">Password</label>
      <input type="password" id="login-password" [(ngModel)]="password" />
    </div>

    <button class="login-button" (click)="handleSignIn()">Login</button>
  </div>
</div>
