.msg-container {
  display: flex;
  align-items: flex-start;
  margin: 1em 0.3em 2em;
}

.msg-author-icon {
  position: relative;
  top: 30px;
  height: 60px;
  width: 100px;
  border-left: 10px solid rgb(var(--darkBase2));
  border-top: 4px solid rgb(var(--darkBase2));
  border-bottom: 8px solid rgb(var(--darkBase2));
  border-right: 2px solid rgb(var(--darkBase2));
  transform: rotate3d(1, 1, 0, 35deg);
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform-style: preserve-3d;
}

.user-icon {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 12px;
  transform: rotateX(-20deg) translateZ(5px) translateY(-12px);
  color: rgb(var(--darkBase2));
}

.user-icon-shadow {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 9px;
  transform: rotateX(-20deg) translateZ(5px) translateY(-12px);
  color: rgb(var(--darkBase1));
}

.msg-author {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  color: white;
  background: linear-gradient(
    rgba(50, 50, 50, 0),
    rgba(50, 50, 50, 0.5) 50%,
    rgba(50, 50, 50, 0.7)
  );
}

.msg-content-container {
  position: relative;
  width: 100%;
}

.to-you .msg-content-container {
  transform-origin: -30px 40px;
}

.from-you .msg-content-container {
  transform-origin: right 30px;
}

.msg-content-container > .msg-posted-time {
  position: absolute;
  top: 10px;
  padding: 1px 8px;
  color: rgb(var(--darkBase2));
  background-color: rgb(var(--lightBase2));
  font-weight: 900;
  border-radius: 3px 3px 0 0;
  transition: top 0.5s;
}

.to-you .msg-content-container > .msg-posted-time {
  left: 30px;
}

.to-you .msg-content-container:hover > .msg-posted-time {
  top: -15px;
}

.from-you .msg-content-container > .msg-posted-time {
  right: 35px;
  transform: rotateZ(-2deg);
}

.from-you .msg-content-container:hover > .msg-posted-time {
  top: -18px;
}

.msg-content-container > svg {
  position: absolute;
}

.to-you .msg-content-container > svg {
  left: -30px;
}

.from-you .msg-content-container > svg {
  right: 0;
}

.msg-content {
  position: absolute;
  top: 15px;
  color: white;
  font-size: 20px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.msg-content::-webkit-scrollbar {
  display: none;
}

.to-you .msg-content {
  width: 270px;
  left: 30px;
}

.from-you .msg-content {
  width: 280px;
  left: 130px;
  top: 20px;
}

.light-polygon {
  fill: rgb(var(--lightBase2));
}

.dark-polygon {
  fill: rgb(var(--darkBase2));
}

.wiggle {
  animation: wiggle 1s;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}