<div
  class="msg-container"
  [ngClass]="mine ? 'from-you' : 'to-you'"
  [style.height.px]="height"
>
  <div class="msg-author-icon" *ngIf="!mine">
    <div class="msg-author" *ngIf="!mine">
      {{ message.author }}
    </div>
    <img src="../../../assets/user.png" alt="" />
  </div>

  <div class="msg-content-container">
    <svg [attr.height]="height" width="350">
      <polygon
        class="light-polygon"
        [attr.points]="getOuterPolygonPoints()"
      />
      <polygon
        class="dark-polygon"
        [attr.points]="getInnerPolygonPoints()"
      />
    </svg>

    <div class="msg-content" [style.height.px]="height">
      {{ message.content }}
    </div>
  </div>
</div>