<div class="sidebar">
  <fa-icon [icon]="maskIcon" class="sidebar-icon fa-10x"></fa-icon>

  <div class="option-container home">
    <app-masquer-text
      text="HoMe"
      [flipIndices]="[2]"
      [leftFontSize]="32"
      [fontSizeStep]="15"
      rotateAngle="-40deg"
      rotateOrigin="left 100%"
      [hoverInvert]="true"
      [hoverBackdrop]="true"
      class="sidebar-option home"
      (click)="navigateToHome()"
    ></app-masquer-text>
  </div>

  <div class="option-container chats">
    <app-masquer-text
      text="CHats"
      [flipIndices]="[2]"
      [leftFontSize]="32"
      [fontSizeStep]="15"
      rotateAngle="-30deg"
      rotateOrigin="left 50%"
      [hoverInvert]="true"
      [hoverBackdrop]="true"
      class="sidebar-option chats"
      (click)="navigateToChats()"
    ></app-masquer-text>
  </div>

  <div class="option-container profile">
    <app-masquer-text
      text="ProFile"
      [flipIndices]="[0, 3]"
      [leftFontSize]="32"
      [fontSizeStep]="8"
      rotateAngle="-10deg"
      rotateOrigin="left 50%"
      [hoverInvert]="true"
      [hoverBackdrop]="true"
      class="sidebar-option profile"
    ></app-masquer-text>
  </div>

  <div class="option-container logout">
    <app-masquer-text
      text="LogOut"
      [flipIndices]="[3]"
      [leftFontSize]="32"
      [fontSizeStep]="10"
      rotateAngle="5deg"
      rotateOrigin="left 0%"
      [hoverInvert]="true"
      [hoverBackdrop]="true"
      class="sidebar-option logout"
      (click)="handleSignOut()"
    ></app-masquer-text>
  </div>
</div>
