.masquer-text-container {
  font-family: "Fira Sans", sans-serif;
  position: relative;
}

.backdrop {
  position: absolute;
}

span {
  display: inline-block;
}

span.back {
  color: rgb(var(--darkBase3));
  -webkit-text-stroke: 15px rgb(var(--darkBase3));
}

span.back.flip {
  color: rgb(var(--lightBase2));
  -webkit-text-stroke: 15px rgb(var(--lightBase2));
}

span.fore {
  color: rgb(var(--lightBase2));
  -webkit-text-stroke: 1.5px rgb(var(--darkBase3));
}

span.fore.flip {
  color: rgb(var(--darkBase3));
  -webkit-text-stroke: 1.5px rgb(var(--lightBase2));
}

.masquer-char-span0 {
  transform: translateY(-2px);
}

.masquer-char-span1 {
  transform: rotateZ(-13deg) translateY(-3px);
}

.masquer-char-span2 {
  transform: rotateZ(7deg) translateY(2px);
}

.masquer-char-span3 {
  transform: rotateZ(-5deg) translateY(-1px);
}

.masquer-char-span4 {
  transform: rotateZ(11deg);
}

.masquer-char-span5 {
  transform: scale(0.95, 0.95) translateY(3px);
}

.masquer-char-span6 {
  transform: rotateZ(13deg) scale(1.05, 0.95);
}

.masquer-char-span7 {
  transform: rotateZ(7deg) scale(1.05, 1);
}

.masquer-char-span8 {
  transform: rotateZ(-5deg) scale(1.05, 1.05) translateY(2px);
}

.masquer-char-span9 {
  transform: rotateY(40deg) scale(1.05, 0.95) translateY(-1px);
}

/* hover invert effect */
.masquer-text-container.hoverinvert:hover span.back {
  color: rgb(var(--lightBase2));
  -webkit-text-stroke: 15px rgb(var(--lightBase2));
}

.masquer-text-container.hoverinvert:hover span.back.flip {
  color: rgb(var(--darkBase3));
  -webkit-text-stroke: 15px rgb(var(--darkBase3));
}

.masquer-text-container.hoverinvert:hover span.fore {
  color: rgb(var(--darkBase3));
  -webkit-text-stroke: 1.5px rgb(var(--lightBase2));
}

.masquer-text-container.hoverinvert:hover span.fore.flip {
  color: rgb(var(--lightBase2));
  -webkit-text-stroke: 1.5px rgb(var(--darkBase3));
}

/* hover backdrop effect */
.masquer-text-container.hoverbackdrop::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 0;
  height: 60%;
  border-radius: 30px;
  background-color: rgb(var(--primary2));
  transform: skewX(-5deg);
  box-shadow: none;
  transition: width 0.5s ease;
}

.masquer-text-container.hoverbackdrop:hover::before {
  width: 100%;
  box-shadow: 3px -5px 10px rgb(var(--darkBase3));
}
