<div
  class="masquer-text-container"
  [ngClass]="{ hoverwiggle: hoverWiggle, hoverinvert: hoverInvert }"
  [ngStyle]="{
    'transform': getRotationString(),
    'transform-origin': rotateOrigin
  }"
>
  <div class="backdrop">
    <span
      *ngFor="let masquerChar of charArray"
      [ngClass]="{ flip: masquerChar.flip }"
      [ngStyle]="{
        'font-size': masquerChar.fontSize
      }"
      class="back {{ masquerChar.class }}"
    >
      {{ masquerChar.char }}
    </span>
  </div>
  <span
    *ngFor="let masquerChar of charArray"
    [ngClass]="{ flip: masquerChar.flip }"
    [ngStyle]="{
      'font-size': masquerChar.fontSize
    }"
    class="fore {{ masquerChar.class }}"
  >
    {{ masquerChar.char }}
  </span>
</div>
