.msg-container {
  display: flex;
  align-items: flex-start;
  margin: 1em 0.3em 2em;
}

.msg-author-icon {
  position: relative;
  top: 20px;
  height: 60px;
  width: 100px;
  border-left: 4px solid rgb(var(--lightBase2));
  border-top: 6px solid rgb(var(--lightBase2));
  border-bottom: 4px solid rgb(var(--lightBase2));
  border-right: 6px solid rgb(var(--lightBase2));
  transform: rotate3d(-1.2, 1 , 0, -35deg);
  background-color: rgb(var(--darkBase3));
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.user-icon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  color: rgb(var(--lightBase2));
  transform: rotateX(-16deg) translateZ(3px) translateY(-12px);
}

.user-icon-shadow {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 9px;
  color: rgb(var(--lightBase1));
  transform: rotateX(-16deg) translateZ(3px) translateY(-15px);
}

.msg-author {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  color: rgb(var(--lightBase2));
}

.msg-content-container {
  position: relative;
  width: 100%;
  animation: wiggle 1s;
  transform-origin: right 30px;
}

svg {
  position: absolute;
  right: -15px;
}

.msg-content {
  position: absolute;
  top: 15px;
  right: 30px;
  color: white;
  font-size: 20px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 23.5ch;
  transform: rotate(-2deg);
}
.msg-content::-webkit-scrollbar {
  display: none;
}

.light-polygon {
  fill: rgb(var(--lightBase2));
}

.dark-polygon {
  fill: rgb(var(--darkBase3));
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}