.msg-container {
  display: flex;
  align-items: flex-start;
  margin: 1em 0.3em 2em;
}

.msg-author-icon {
  position: relative;
  height: 80px;
  width: 100px;
  border-left: 4px solid rgb(var(--lightBase2));
  border-top: 6px solid rgb(var(--lightBase2));
  border-bottom: 4px solid rgb(var(--lightBase2));
  border-right: 6px solid rgb(var(--lightBase2));
  transform: rotate3d(-1, 1, 0, -30deg);
  background-color: rgb(var(--darkBase3));
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.userIcon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  color: rgb(var(--lightBase2));
}

.msg-author {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  color: rgb(var(--lightBase2));
  background: linear-gradient(
    rgba(50, 50, 50, 0.7),
    rgba(50, 50, 50, 0.5) 50%,
    rgba(50, 50, 50, 0)
  );
}

.msg-content-container {
  position: relative;
  width: 100%;
  animation: wiggle 1s;
  transform-origin: right 30px;
}

svg {
  position: absolute;
  right: 0;
}

.msg-content {
  position: absolute;
  top: 15px;
  color: white;
  font-size: 20px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 23.5ch;
  right: 45px;
  transform: rotate(-2deg);
}
.msg-content::-webkit-scrollbar {
  display: none;
}

.light-polygon {
  fill: rgb(var(--lightBase2));
}

.dark-polygon {
  fill: rgb(var(--darkBase3));
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}