.messager {
  transform: rotate3d(1, 1, 0, 45deg);
  transform-style: preserve-3d;
}

.messagerIcon {
  transform: rotateX(-30deg) translateZ(6px) translateY(-12px);
}

.messagerName {
  background: linear-gradient(
    rgba(50, 50, 50, 0),
    rgba(50, 50, 50, 0.5) 50%,
    rgba(50, 50, 50, 0.7)
  );
}

.enter {
  animation: enter 90ms cubic-bezier(0.3, 0.78, 0.6, 0.99);
}

@keyframes enter {
  0% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
