@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: black white;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: white;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 6px;
    border: 1.5px solid white;
  }

  .overflow-anchor-none {
    overflow-anchor: none;
  }
}

html {
  background-color: rgb(38 38 38); /* neutral-800 */
}
