.shell {
  font-family: "KoHo", sans-serif;
  box-shadow: none;
  transform: none;
}

/* sm: */
@media (min-width: 640px) {
  .shell {
    box-shadow: 4px -2px 0 2px rgb(156 163 175); /* gray-400 */
    transform-origin: bottom;
    transform: rotate3d(1, -2, 0, 25deg);
  }

  .shell.enterAnimation {
    animation: rotate-in 180ms cubic-bezier(0.39, 0.81, 0.39, 0.99) forwards;
  }
}

@keyframes rotate-in {
  0% {
    rotate: -30deg;
    translate: 0 90px;
  }
  100% {
    rotate: 0;
    translate: 0 0;
  }
}
