.shell {
  font-family: "KoHo", sans-serif;
  box-shadow: none;
  transform: none;
}

/* sm: */
@media (min-width: 640px) {
  .shell {
    box-shadow: 4px -2px 0 2px rgb(156 163 175); /* gray-400 */
    transform: rotate3d(1, -2, 0, 25deg);
  }
}
