.shell {
  font-family: "KoHo", sans-serif;
  box-shadow: none;
  transform: none;
}

/* sm: */
@media (min-width: 640px) {
  .shell {
    box-shadow: 4px -2px 0 2px rgb(156 163 175); /* gray-400 */
    transform-origin: bottom;
    transform: rotate3d(1, -2, 0, 25deg);
  }

  .shell.enterAnimation {
    animation: rotate-in 300ms cubic-bezier(0.5, 0.5, 0.5, 1.5) forwards;
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(-75deg) translate(-300px, -300px)
      rotate3d(1, -2, 0, 25deg);
  }
  100% {
    transform: rotate(0) translate(0) rotate3d(1, -2, 0, 25deg);
  }
}
