.anchor {
  position: fixed;
  bottom: -3rem;
  left: 50%;
  z-index: 50;
}

.container {
  position: absolute;
  bottom: -10rem;
  left: -7rem;
  background-color: rgb(239 68 68); /* bg-red-500 */
  width: 14rem;
  height: 14rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.optionsContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.option {
  position: absolute;
  cursor: pointer;
}

.option.home {
  left: -12rem;
  top: -4rem;
  transform: rotateY(35deg);
  transform-origin: right;
}

.option.chats {
  right: -16rem;
  top: -5rem;
  transform: rotateY(35deg);
  transform-origin: left;
}

.option.profile {
  left: -15rem;
  top: 9rem;
  transform: rotateY(25deg);
  transform-origin: right;
}

.option.logout {
  right: -16rem;
  top: 8rem;
  transform: rotateY(35deg);
  transform-origin: left;
}

.container:hover,
.container:active,
.container:focus-visible {
  bottom: 3rem;
}

.container:hover .optionsContainer,
.container:active .optionsContainer,
.container:focus-visible .optionsContainer {
  animation: overflow-visible 200ms linear 0ms forwards;
}

.container:hover .option.home,
.container:active .option.home,
.container:focus-visible .option.home {
  animation: option-home 100ms linear 150ms forwards;
}

.container:hover .option.chats,
.container:active .option.chats,
.container:focus-visible .option.chats {
  animation: option-chats 100ms linear 200ms forwards;
}

.container:hover .option.profile,
.container:active .option.profile,
.container:focus-visible .option.profile {
  animation: option-profile 100ms linear 200ms forwards;
}

.container:hover .option.logout,
.container:active .option.logout,
.container:focus-visible .option.logout {
  animation: option-logout 100ms linear 150ms forwards;
}

@keyframes overflow-visible {
  100% {
    overflow: visible;
  }
}

@keyframes option-home {
  99% {
    left: -4rem;
    top: -2rem;
    transform: scaleX(0.25);
  }
  100% {
    left: -6rem;
    top: -2rem;
    transform: scaleX(1);
  }
}

@keyframes option-chats {
  99% {
    right: -6rem;
    top: -3rem;
    transform: scaleX(0.3, 0.9);
  }
  100% {
    right: -8rem;
    top: -3rem;
    transform: scaleX(1);
  }
}

@keyframes option-profile {
  99% {
    left: -3rem;
    top: 6rem;
    transform: scaleX(0.25);
  }
  100% {
    left: -5rem;
    top: 6rem;
    transform: scaleX(1);
  }
}

@keyframes option-logout {
  99% {
    right: -6rem;
    top: 4rem;
    transform: scaleX(0.3, 0.9);
  }
  100% {
    right: -8rem;
    top: 4rem;
    transform: scaleX(1);
  }
}