.container {
  --tr-sidebar: 75ms;
  --tr-option: 120ms;
  --tr-stagger: 60ms;
  transition: bottom var(--tr-sidebar) cubic-bezier(0.4, 0, 0.2, 1);
  /* red-500, red-900 */
  background: radial-gradient(rgb(239 68 68) 60%, rgb(127 29 29));
}

.container:hover,
.container:active,
.container:focus-visible {
  box-shadow: 0 0 6em 6em rgba(0, 0, 0, 0.3);
}

.option.home {
  transform: rotateY(35deg);
}

.option.chats {
  transform: rotateY(35deg);
}

.option.profile {
  transform: rotateY(25deg);
}

.option.logout {
  transform: rotateY(35deg);
}

.container:hover,
.container:active,
.container:focus-visible {
  bottom: 3rem;
}

.container:hover .optionsContainer,
.container:active .optionsContainer,
.container:focus-visible .optionsContainer {
  animation: overflow-visible calc(var(--tr-sidebar) + var(--tr-stagger)) linear
    0ms forwards;
}

.container:hover .option.home,
.container:active .option.home,
.container:focus-visible .option.home {
  animation: option-home var(--tr-option) linear var(--tr-sidebar) forwards;
}

.container:hover .option.chats,
.container:active .option.chats,
.container:focus-visible .option.chats {
  animation: option-chats var(--tr-option) linear
    calc(var(--tr-sidebar) + var(--tr-stagger)) forwards;
}

.container:hover .option.profile,
.container:active .option.profile,
.container:focus-visible .option.profile {
  animation: option-profile var(--tr-option) linear
    calc(var(--tr-sidebar) + var(--tr-stagger)) forwards;
}

.container:hover .option.logout,
.container:active .option.logout,
.container:focus-visible .option.logout {
  animation: option-logout var(--tr-option) linear var(--tr-sidebar) forwards;
}

@keyframes overflow-visible {
  100% {
    overflow: visible;
  }
}

@keyframes option-home {
  90% {
    left: -5rem;
    top: -2rem;
    transform: scaleX(0.6);
  }
  100% {
    left: -6rem;
    top: -2rem;
    transform: scaleX(1);
  }
}

@keyframes option-chats {
  90% {
    right: -7rem;
    top: -3rem;
    transform: scaleX(0.45);
  }
  100% {
    right: -8rem;
    top: -3rem;
    transform: scaleX(1);
  }
}

@keyframes option-profile {
  90% {
    left: -4rem;
    top: 6rem;
    transform: scaleX(0.6);
  }
  100% {
    left: -5rem;
    top: 6rem;
    transform: scaleX(1);
  }
}

@keyframes option-logout {
  90% {
    right: -7rem;
    top: 4rem;
    transform: scaleX(0.45);
  }
  100% {
    right: -8rem;
    top: 4rem;
    transform: scaleX(1);
  }
}
