.bar1 {
  filter: url("#bar-texture");
  --width: 120%;
  animation: draw 60ms linear 0ms forwards;
  scale: -1;
}

.bar2 {
  filter: url("#bar-texture");
  --width: 90%;
  animation: draw 30ms linear 60ms forwards;
}

@keyframes draw {
  0% {
    width: 0;
  }
  100% {
    width: var(--width);
  }
}
