.bar {
  background: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  filter: url("#bar-texture");
  animation: draw 150ms forwards;
}

.bar1 {
  animation-delay: 0ms;
  --width: 60%;
}

.bar2 {
  scale: -1;
  animation-delay: 150ms;
  --width: 120%;
}

.bar3 {
  animation-delay: 300ms;
  --width: 75%;
}

@keyframes draw {
  0% {
    width: 0;
  }
  100% {
    width: var(--width);
  }
}
